{% extends "page.html" %}

{% block head %}
<script type="text/javascript">

    var buffers = {};
    var context = null;
    var manual = true;

    function checkCurrent () {
        console.log(buffers);
        console.log("checkCurrent");
        var d = new Date();
        var t = Math.floor(d.getTime() / 1000);
        var hour = d.getHours();
        var next_hour = (d.getHours() + 1) % 24;
        var minutes = d.getMinutes();
        if (!manual && minutes == 0 && hour in buffers && buffers[hour] != null) {
            playSound(hour);
        } else if (minutes >= 50 && !(next_hour in buffers)) {
            console.log("--> checking s3 for " + next_hour);
            $.ajax({
                type: 'GET',
                url: '/list',
                success: function (data, textStatus, jqXHR) {
                    file_url = "https://s3.amazonaws.com/{{ aws_bucket }}/" + data;
                    console.log("--> most recent is " + file_url);
                    var file_t = parseInt(file_url.substring(0, 10));
                    if (t - file_t < 30 * 60) { // file created < 30 mins ago
                        loadSound(next_hour, file_url);
                    } else {
                        console.log("--> that's not the audio we're looking for");
                    }
                },
                error: function (result) {
                    console.log(result);
                }
            });                         
        } else {
            $('#status').html("Waiting. Sound not ready yet for " + next_hour + ":00.");
            console.log("--> not time to do anything");        
        }
    }

    function loadSound (hour, url) {
        console.log("loadSound " + hour);
        var request = new XMLHttpRequest();
        url = "http://localhost:3333/static/countdown.wav";
        request.open('GET', url, true);        
        request.responseType = 'arraybuffer';
        buffers[hour] = null;
        request.onload = function() {
            console.log("--> downloaded " + hour + ". Making buffer...");
            context.decodeAudioData(request.response, function(buffer) {
                buffers[hour] = buffer;
                console.log("--> loaded " + hour + " (" + url +")");                    
                $('#status').html("Loaded sound for " + hour + ":00.<br /><a href=\"javascript:playSound(" + hour + ");\">Play now</a>.");
            }, function(e) {
                console.log("--> error: " + e);
            });
        }
        console.log("--> downloading " + hour + "...");
        request.send();
    }

    function playSound (hour) {    
        console.log("play " + hour);
        buffer = buffers[hour];
        var source = context.createBufferSource(); 
        source.buffer = buffer;                 
        source.connect(context.destination);
        source.noteOn(0);
        buffers[hour] = null;
        $('#status').html("Playing " + hour + ":00...");
    }    
    
    function timestamp () {
        return (new Date().getTime()) / 1000;
    }

    function toggleAutoPlay () {
        manual = !manual;
        if (manual) {
            $('#autoplay').html("off");            
            $('#autoplay_toggle').html("Turn on");
        } else {
            $('#autoplay').html("on");
            $('#autoplay_toggle').html("Turn off");
        }
    }

    $(document).ready(function () {    
        context = new webkitAudioContext();
        setInterval(checkCurrent, 1 * 60 * 1000);
        checkCurrent();
    });

</script>
{% endblock head %}


{% block content %}

<h2>Change Ringing (FM)</h2>

<br />
<span id="status"></span><br />
<br />
Auto-play is <span id="autoplay">off</span>. <a id="autoplay_toggle" href="javascript:toggleAutoPlay();">Turn on</a>.

{% endblock content %}